{{extend 'layout.html'}}
<p>{{=name}}</p>
<form>
    <label>ID</label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <input type="text",id="id" name="id"value="{{=id}}"><br>
    <label>Frist Name</label> &nbsp 
    <input type="text",id="name" name="name"value="{{=name}}"><br>
    <label>phone</label> &nbsp &nbsp &nbsp &nbsp  																			
    <input type="text",id="mobile" name="mobile"value="{{=mobile}}"><br>
    <label>Password</label> &nbsp &nbsp																				
    <input type="text",id="password" name="password"value="{{=password}}"><br>


    
  
    
    <tr >
        <td width="100px" style="padding-top: 0px">&nbsp;</td>
         <td style="margin-left: 10px;">
        <input type="submit" name="update_btn" id="update_btn" value=" Updates " style="vertical-align:middle;" >
        </td>
    </tr>
    <tr >
        <td width="100px" style="padding-top: 0px">&nbsp;</td>
         <td style="margin-left: 10px;">
        <input type="submit" name="delete_btn" id="delete_btn" value=" delete " style="vertical-align:middle;" >
        </td>
    
    </tr>
</form>



